{% extends "base.html" %}
{% block content %}
<h2>Autorisations</h2>
<table class="table table-striped">
<thead><tr><th>Numéro</th><th>Demande</th><th>Utilisateur</th><th>Bande</th><th>Début</th><th>Fin</th><th>Statut</th></tr></thead>
<tbody>
{% for a in autorisations %}
<tr>
<td>{{ a.numero_autorisation }}</td>
<td>{{ a.demande.reference }}</td>
<td>{{ a.demande.utilisateur.profil.raison_sociale if a.demande.utilisateur.profil else a.demande.utilisateur.email }}</td>
<td>{{ a.bande.designation if a.bande else '-' }}</td>
<td>{{ a.date_debut }}</td><td>{{ a.date_fin }}</td><td>{{ a.statut }}</td>
</tr>
{% endfor %}
</tbody></table>
{% endblock %}
